<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="rockMusic" class="com.spring.education.RockMusic"/>

    <bean id="classicalMusic"
          class="com.spring.education.ClassicalMusic"
          init-method="beforeMethod"
          destroy-method="afterMethod"
          factory-method="getClassicalMusic"/>

    <bean id="musicPlayer" class="com.spring.education.MusicPlayer" scope="prototype">
        <!-- Dependency injection via constructor-->
        <!--<constructor-arg ref="musicBean"/>-->

        <!-- Dependency injection of object via setter method-->
        <property name="music" ref="rockMusic"/>

        <!-- Dependency injection of object via setter method-->
        <!--<property name="name" value="Some name"/>-->
        <!--<property name="volume" value="50"/>-->

        <property name="musics">
            <list>
                <ref bean="rockMusic"/>
                <ref bean="classicalMusic"/>
            </list>
        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>